/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  font-family: Helvetica;
}

* {
  box-sizing: border-box;
}

.h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  margin-left: 100px;
  line-height: 1.31;
  color: #4a4a4a;
}

.header {
  position: relative;
  width: 100%;
}
.header .menu {
  position: relative;
  height: 66px;
  background-image: radial-gradient(circle at 50% 50%, #4dbc66, #1a8e4a);
}
.header .menu__inner {
  width: 1280px;
  margin: 0 auto;
}
.header .menu__inner .logo {
  width: 121px;
  height: 29px;
  position: relative;
  left: 41px;
  top: 22px;
}
.header .menu__inner .phone {
  float: right;
  position: relative;
  right: 40px;
  top: 23px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
.header .menu__inner .phone img {
  width: 13.3px;
  height: 13.3px;
  display: inline-block;
  margin-right: 8px;
}
.header .menu__inner .phone p {
  display: inline-block;
}
.header .menu__inner .bg_triangles_left {
  width: 258px;
  height: 66px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.header .menu__inner .bg_triangles_right {
  width: 248px;
  height: 66px;
  position: absolute;
  top: 0;
  right: 0;
}
.header .header_allwidth {
  background-image: radial-gradient(circle at 50% 50%, #ffffff, #efefef);
  position: relative;
  height: 530px;
}
.header .header_allwidth .slideshow {
  margin: 0 auto;
  padding: 0 40px;
  width: 1080px;
}
.header .header_allwidth .slideshow .header__item1 {
  position: relative;
  padding-top: 83px;
}
.header .header_allwidth .slideshow .header__item1 .header__h1 {
  width: 306px;
  height: 32px;
  background-image: linear-gradient(96deg, #30bc50, #1a8e5d);
  -webkit-transform: skew(-16deg);
  -moz-transform: skew(-16deg);
  -o-transform: skew(-16deg);
}
.header .header_allwidth .slideshow .header__item1 .header__h1 h1 {
  line-height: 32px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  -webkit-transform: skew(16deg);
  -moz-transform: skew(16deg);
  -o-transform: skew(16deg);
}
.header .header_allwidth .slideshow .header__item1 h3 {
  margin-top: 35px;
  width: 410px;
  font-family: Helvetica;
  font-size: 64px;
  font-weight: bold;
  line-height: 1.16;
  text-transform: uppercase;
  color: #737373;
}
.header .header_allwidth .slideshow .header__item1 p {
  width: 214px;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: normal;
  font-style: oblique;
  text-align: center;
  color: #737373;
  margin-top: 32px;
}
.header .header_allwidth .slideshow .header__item1 img {
  width: 417px;
  height: 374px;
  object-fit: contain;
  opacity: 0.85;
  box-shadow: 0 2px 14px 0 #ffffff;
  position: absolute;
  right: 0;
  bottom: 0;
}
.header .header_allwidth .header__line {
  width: 458px;
  height: 6px;
  background-image: linear-gradient(91deg, #4dbc66, #1a8e4a);
  position: absolute;
  bottom: 0;
  left: 0;
}

/*******************************************************************************/
.need-it {
  position: relative;
  width: 1280px;
  margin: 0 auto;
  min-height: 10px;
}
.need-it h2 {
  margin-top: 54px;
}
.need-it__text {
  width: 546px;
  height: 48px;
  font-family: Helvetica;
  font-size: 14px;
  line-height: 1.71;
  margin-left: 100px;
  margin-top: 15px;
  color: #737373;
}
.need-it__text span {
  font-weight: bold;
  color: #4a4a4a;
}
.need-it__items {
  display: flex;
  justify-content: space-between;
  margin: 54px  35px 0;
}
.need-it__items .need-it__item {
  width: 280px;
  display: inline-block;
  height: 350px;
  border-radius: 8px;
  position: relative;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}
.need-it__items .need-it__item:hover {
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -o-transform: scale(1.04);
}
.need-it__items .need-it__item:hover a {
  width: 169px;
  height: 40px;
  border-radius: 100px;
  background-color: #ffffff;
  left: calc(50% - 84px);
  bottom: 32px;
}
.need-it__items .need-it__item:hover a img {
  display: none;
}
.need-it__items .need-it__item:hover a span {
  display: block;
}
.need-it__items .need-it__item img {
  position: absolute;
  top: 0;
  z-index: 1;
  left: 0;
}
.need-it__items .need-it__item p {
  position: relative;
  z-index: 3;
  width: 277px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.57;
  text-align: center;
  color: #ffffff;
  top: 145px;
}
.need-it__items .need-it__item a {
  z-index: 3;
  left: calc(50% - 16px);
  display: block;
  text-decoration: none;
  position: absolute;
  bottom: 64px;
}
.need-it__items .need-it__item a span {
  display: none;
  font-family: Helvetica;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 40px;
  text-align: center;
  color: #299e59;
}
.need-it__items .need-it_orange {
  background-image: linear-gradient(141deg, #d9aa27, #ff9d05);
}
.need-it__items .need-it_blue {
  background-image: linear-gradient(141deg, #4c9dca, #4d82dd);
}
.need-it__items .need-it_green {
  background-image: linear-gradient(141deg, #30bc50, #1a8e5d);
}
.need-it__items .need-it_purple {
  background-image: linear-gradient(141deg, #a161fa, #aa1cf7);
}

/**********************************************************************/
.case {
  position: relative;
  width: 1080px;
  margin: 0 auto;
  padding-top: 80px;
}
.case__item {
  width: 272px;
  height: 200px;
  border-radius: 8px;
  background-color: #fafafa;
  margin-right: 21px;
  position: relative;
  vertical-align: top;
  display: inline-block;
}
.case__item p {
  margin: 16px 16px 0 16px;
  font-family: Helvetica;
  font-size: 14px;
  line-height: 1.57;
  color: #737373;
  max-height: 150px;
}
.case__item a {
  font-family: Helvetica;
  font-size: 12px;
  text-decoration: none;
  text-align: left;
  color: #737373;
  position: absolute;
  bottom: 16px;
  right: 16px;
}
.case__item a:hover {
  color: #4a90e2;
}
.case__item a:hover span {
  text-decoration: underline;
}
